Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web frontend

.gitlab-ci.yml:

stages:
  - spawn

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml
  only:
    changes:
      - backend/main/**/*
      - common/**/*

Web frontend:
  stage: spawn
  trigger:
    include: frontend/web/.gitlab-ci.yml
  only:
    changes:
      - frontend/web/**/*
      - frontend/common/**/*
      - common/**/*

# This will probably go through AppCenter
# Native mobile frontend:
#   stage: spawn
#   trigger:
#     include: frontend/native-mobile/.gitlab-ci.yml
#   only:
#     changes:
#       - frontend/native-mobile/**/*
#       - frontend/common/**/*
#       - common/**/*

database register user updates
  backend/main/src/app.module.ts
  backend/main/test/user.e2e-spec.ts
Due: Main backend

auth finished
  backend/main/jest.config.js
  backend/main/package.json
  backend/main/src/auth/auth.entity.ts
  backend/main/src/auth/auth.module.ts
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/auth/jwt/jwt.guard.ts
  backend/main/src/auth/jwt/jwt.strategy.ts
  backend/main/src/config/app.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/seed/generator-orm/generator-orm.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/test/proxy.mock.spec.ts
  backend/main/src/test/proxy.mock.ts
  backend/main/src/test/setup.tests.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/user.entity.ts
  backend/main/src/user/user.module.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/helpers/module.helper.ts
  backend/main/test/jest-e2e.json
  backend/main/test/user.e2e-spec.ts
  backend/main/yarn.lock
  common/graphql/ts/interaction.ts
Due: Main backend, Web frontend

auth finished
  backend/main/.env.test
  backend/main/src/app.module.ts
  backend/main/src/auth/decorators/auth-roles.decorator.ts
  backend/main/src/auth/decorators/auth-user.decorator.ts
  backend/main/src/auth/decorators/jwt-user.decorator.ts
  backend/main/src/auth/jwt/auth-roles.guard.ts
  backend/main/src/auth/jwt/auth.guard.ts
  backend/main/src/auth/jwt/jwt.guard.ts
  backend/main/src/auth/jwt/jwt.strategy.ts
  backend/main/src/config/app.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/migrations/migrations.module.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/src/seed/seed.module.ts
  backend/main/src/user/user.entity.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/helpers/module.helper.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/schema/Training.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/interaction.ts
Due: Main backend, Web frontend

gettin suspicious about migration but let's say it works
  backend/main/src/app.module.ts
  backend/main/src/migrate.ts
Due: Main backend

update tests
  backend/main/.gitlab-ci.yml
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/user.e2e-spec.ts
Due: Main backend

update schema
  common/graphql/schema/Schema.graphql
Due: Main backend, Web frontend

user queries
  backend/main/src/auth/decorators/jwt-user.decorator.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

userUpdate
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/helpers/BaseResolver.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

userUpdateMyself
  backend/main/src/app.module.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/auth/decorators/auth-user.decorator.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/user.entity.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/schema/User.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

upgrade nest 6 -> 7
  backend/main/package.json
  backend/main/src/auth/decorators/auth-user.decorator.ts
  backend/main/src/auth/decorators/jwt-user.decorator.ts
  backend/main/src/migrations/migrations.module.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/yarn.lock
  package.json
  yarn.lock
Due: Main backend

test prettier
  package.json
Due: none

write files
  backend/main/index.d.ts
  backend/main/src/app.module.ts
  backend/main/src/auth/auth.entity.ts
  backend/main/src/auth/auth.module.ts
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/auth/decorators/auth-roles.decorator.ts
  backend/main/src/auth/jwt/auth-roles.guard.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/helpers/TimestampToDateTime.ts
  backend/main/src/migrations/migrations.module.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/seed/generator-orm/generator-orm.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/seed/seed.module.ts
  backend/main/src/test/datetime.tester.ts
  backend/main/src/test/proxy.mock.ts
  backend/main/src/test/setup.tests.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/user.entity.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

created and tested youtube provider
  backend/main/src/media/providers/media.provider.ts
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/test/providers/youtube.provider.e2e-spec.ts
Due: Main backend

media remote service
  backend/main/package.json
  backend/main/src/app.module.ts
  backend/main/src/config/apis.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/media/media-remote.service.spec.ts
  backend/main/src/media/media-remote.service.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/providers/media.provider.ts
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/test/media.tester.ts
  backend/main/src/test/proxy.mock.ts
  backend/main/yarn.lock
  common/graphql/schema/Filters.graphql
  common/graphql/schema/Media.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

media resolver tested
  backend/main/src/media/media-remote.resolver.spec.ts
  backend/main/src/media/media-remote.resolver.ts
  backend/main/src/media/media-remote.service.ts
  backend/main/src/media/media.module.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
Due: Main backend

e2e for remote medias
  backend/main/src/media/media-remote.resolver.ts
  backend/main/src/test/list.tester.ts
  backend/main/test/media-remote.e2e-spec.ts
  common/graphql/schema/Media.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

updated entities
  backend/main/src/media/media.entity.ts
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/media/source.entity.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/seed/generator-orm/generator-orm.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/test/media.tester.ts
  backend/main/src/test/training-draft.tester.ts
  backend/main/src/test/training-set.tester.ts
  backend/main/src/test/training.tester.ts
  backend/main/src/training/training-set/training-set.entity.ts
  backend/main/src/training/training/training.entity.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

refactor entities and created training module
  backend/main/src/app.module.ts
  backend/main/src/helpers/PromiseRecord.ts
  backend/main/src/media/media-remote/media-remote.resolver.spec.ts
  backend/main/src/media/media-remote/media-remote.resolver.ts
  backend/main/src/media/media-remote/media-remote.service.spec.ts
  backend/main/src/media/media-remote/media-remote.service.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/media/media.entity.ts
  backend/main/src/media/source/source.entity.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/seed/helpers/GeneratorDensity.ts
  backend/main/src/training/training-draft/training-draft.service.spec.ts
  backend/main/src/training/training-draft/training-draft.service.ts
  backend/main/src/training/training-set/training-set.service.spec.ts
  backend/main/src/training/training-set/training-set.service.ts
  backend/main/src/training/training.module.ts
  backend/main/src/training/training/training.entity.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  common/graphql/schema/Media.graphql
  common/graphql/schema/Training.graphql
Due: Main backend, Web frontend

some refactoring
  backend/main/src/media/media-remote/media-remote.resolver.spec.ts
  backend/main/src/media/media-remote/media-remote.resolver.ts
  backend/main/src/media/media-remote/media-remote.service.spec.ts
  backend/main/src/media/media-remote/media-remote.service.ts
  backend/main/src/media/media/media.entity.ts
  backend/main/src/media/source/source.entity.ts
  backend/main/test/media-remote.e2e-spec.ts
  backend/main/test/providers/youtube.provider.e2e-spec.ts
  common/graphql/schema/Media.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

media entity fix
  backend/main/src/media/media/media.entity.ts
Due: Main backend

media entity fix
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  common/graphql/schema/Filters.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

gql fixes
  common/graphql/schema/Filters.graphql
  common/graphql/schema/Schema.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

added findById functionality
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/test/providers/youtube.provider.e2e-spec.ts
Due: Main backend

added
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/training-draft.tester.ts
  common/graphql/schema/Media.graphql
  common/graphql/schema/Schema.graphql
  common/graphql/schema/Training.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

training and media services
  backend/main/src/media/media-remote/media-remote.service.spec.ts
  backend/main/src/media/media-remote/media-remote.service.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
  backend/main/src/media/providers/media.provider.ts
  backend/main/src/media/source/source.entity.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/proxy.mock.ts
  backend/main/src/test/training-draft.tester.ts
  backend/main/src/training/training-draft/training-draft.service.spec.ts
  backend/main/src/training/training-draft/training-draft.service.ts
  backend/main/src/training/training-set/training-set.entity.ts
  backend/main/src/training/training-set/training-set.service.spec.ts
  backend/main/src/training/training-set/training-set.service.ts
  backend/main/src/training/training.module.ts
  backend/main/src/training/training/training.entity.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

e2e tests fixe
  backend/main/src/migrate.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/src/training/training.module.ts
Due: Main backend

created generator-other.service.ts
  backend/main/src/seed/generator-other/generator-other.service.spec.ts
  backend/main/src/seed/generator-other/generator-other.service.ts
  backend/main/src/seed/seed.module.ts
  backend/main/src/test/jwt-user.tester.ts
Due: Main backend

training resolver test
  backend/main/src/helpers/BaseResolver.ts
  backend/main/src/training/training.module.ts
  backend/main/src/training/training/training.resolver.spec.ts
  backend/main/src/training/training/training.resolver.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

accept undefined as filter
  backend/main/src/training/training-set/training-set.service.spec.ts
  backend/main/src/training/training-set/training-set.service.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
Due: Main backend

added resolver
  backend/main/src/helpers/BaseResolver.ts
  backend/main/src/training/training-set/training-set.resolver.spec.ts
  backend/main/src/training/training-set/training-set.resolver.ts
  backend/main/src/training/training.module.ts
  backend/main/src/training/training/training.resolver.ts
  common/graphql/schema/Schema.graphql
Due: Main backend, Web frontend

added local fetch
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
Due: Main backend

training migrations
  backend/main/src/app.module.ts
  backend/main/src/migrations/migrations.module.ts
  backend/main/src/migrations/migrations.service.ts
Due: Main backend

trainings unit tests done
  backend/main/src/auth/auth.module.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
  backend/main/src/seed/seed.module.ts
  backend/main/src/training/training-set/training-set.entity.ts
  backend/main/src/training/training.module.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

uuid generated by DB in youtube.provider.ts
  backend/main/src/media/providers/youtube.provider.ts
Due: Main backend

resolver fields
  backend/main/src/helpers/BaseResolver.ts
  backend/main/src/training/training-set/training-set.resolver.spec.ts
  backend/main/src/training/training-set/training-set.resolver.ts
  backend/main/src/training/training/training.resolver.spec.ts
  backend/main/src/training/training/training.resolver.ts
Due: Main backend

training set tested, created media resolver
  backend/main/src/app.module.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/media/media.entity.ts
  backend/main/src/media/media/media.resolver.spec.ts
  backend/main/src/media/media/media.resolver.ts
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/media/source/source.entity.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/seed/generator-orm/generator-orm.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/test/media.tester.ts
  backend/main/src/test/training.tester.ts
  backend/main/src/training/training-set/training-set.resolver.ts
  backend/main/src/training/training/training.entity.ts
  backend/main/src/training/training/training.resolver.ts
  backend/main/src/training/training/training.service.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/providers/youtube.provider.e2e-spec.ts
  backend/main/test/training-set.e2e-spec.ts
  common/graphql/schema/Media.graphql
  common/graphql/schema/Schema.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

added config
  backend/main/src/app.module.ts
  backend/main/src/config/shared.config.definitnion.ts
  backend/main/src/config/shared.config.ts
Due: Main backend

finished CRU operations on everything except media
  backend/main/src/app.module.ts
  backend/main/src/media/media-remote/media-remote.resolver.spec.ts
  backend/main/src/media/media-remote/media-remote.resolver.ts
  backend/main/src/media/media.module.ts
  backend/main/src/media/media/media.entity.ts
  backend/main/src/media/media/media.resolver.spec.ts
  backend/main/src/media/media/media.resolver.ts
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/media/source/source.entity.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/test/media.tester.ts
  backend/main/src/training/training/training.entity.ts
  backend/main/src/training/training/training.resolver.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  backend/main/test/helpers/module.helper.ts
  backend/main/test/media.e2e-spec.ts
  backend/main/test/providers/youtube.provider.e2e-spec.ts
  backend/main/test/training.e2e-spec.ts
  common/graphql/schema/Filters.graphql
  common/graphql/schema/Media.graphql
  common/graphql/schema/Schema.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend
