Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web frontend

.gitlab-ci.yml:

stages:
  - spawn

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml
  only:
    changes:
      - backend/main/**/*
      - common/**/*
      - scripts/**/*

Web frontend:
  stage: spawn
  trigger:
    include: frontend/web/.gitlab-ci.yml
  only:
    changes:
      - frontend/web/**/*
      - frontend/web/.gitlab-ci.yml
      - frontend/common/**/*
      - common/**/*
      - scripts/**/*

# This will probably go through AppCenter
# Native mobile frontend:
#   stage: spawn
#   trigger:
#     include: frontend/native-mobile/.gitlab-ci.yml
#   only:
#     changes:
#       - frontend/native-mobile/**/*
#       - frontend/common/**/*
#       - common/**/*
#       - scripts/**/*

updated fetch training sets tests
  frontend/web/app/src/redux/process/training-set/FetchTrainingSets.spec.ts
  frontend/web/app/src/redux/process/training-set/FetchTrainingSets.ts
Due: Web frontend

updated fetch training sets tests and debounce behaviour
  frontend/common/src/redux-system/data-structures/resources/EntityResource.ts
  frontend/common/src/redux-system/data-structures/resources/IterableResource.ts
  frontend/common/src/redux-system/data-structures/resources/Resource.ts
  frontend/common/src/redux-system/store/Reducer.ts
  frontend/web/app/src/components/control-panel/search/SearchField.spec.tsx
  frontend/web/app/src/components/control-panel/search/SearchField.tsx
  frontend/web/app/src/components/control-panel/search/__snapshots__/SearchField.spec.tsx.snap
  frontend/web/app/src/components/elements/list-items/TripleComboItem.tsx
  frontend/web/app/src/components/elements/list-items/__snapshots__/TripleComboItem.spec.tsx.snap
  frontend/web/app/src/components/elements/list-items/__snapshots__/TripleComboItemSkeleton.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaList.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaListItem.spec.tsx.snap
  frontend/web/app/src/components/pages/TrainingSetListPage.tsx
  frontend/web/app/src/components/training/set/TrainingSetList.tsx
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetList.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetListItem.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingDetail.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingForm.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingList.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingListItem.spec.tsx.snap
  frontend/web/app/src/redux/process/training-set/FetchTrainingSets.spec.ts
  frontend/web/app/src/redux/process/training-set/FetchTrainingSets.ts
  frontend/web/app/src/setup.ts
  frontend/web/common/src/components/elementary/complement/EmptyListInfo.tsx
  frontend/web/common/src/components/elementary/form/Input.tsx
  frontend/web/common/src/components/functional/infinite-list/InfiniteList.tsx
  frontend/web/common/src/redux/WebState.ts
  frontend/web/storybook/stories/elementary/Complements.stories.tsx
Due: Web frontend

translations
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/web/app/src/components/control-panel/base/ControlPanelSidebar.tsx
  frontend/web/app/src/setup.ts
Due: Web frontend

create training set update
  backend/main/src/cleaner/cleaner.service.spec.ts
  backend/main/src/cleaner/cleaner.service.ts
  backend/main/src/training/training-set/training-set.service.spec.ts
  backend/main/src/training/training-set/training-set.service.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  frontend/web/app/src/components/elements/list-items/TripleComboItem.tsx
  frontend/web/app/src/components/training/set/TrainingSetListItem.tsx
  frontend/web/test/cypress/integration/scenarios/training/CreateTrainingSet/Steps.ts
Due: Main backend, Web frontend

create training set updated
  frontend/common/src/graphql/fragments/FullMediaFragment.ts
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/common/src/redux/process/training-set/FetchTrainingSets.spec.ts
  frontend/common/src/redux/process/training-set/FetchTrainingSets.ts
  frontend/common/src/redux/process/training-set/TrainingSetFetch.spec.ts
  frontend/common/src/redux/process/training-set/TrainingSetFetch.ts
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/ControlPanelTitle.spec.tsx
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/ControlPanelTitle.tsx
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/ControlPanelTitleSkeleton.spec.tsx
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/ControlPanelTitleSkeleton.tsx
  frontend/web/app/src/components/layout/AuthorizedRouterLayout.tsx
  frontend/web/app/src/components/pages/TrainingSetCreatePage.tsx
  frontend/web/app/src/components/pages/TrainingSetDetailPage.tsx
  frontend/web/app/src/components/pages/TrainingSetListPage.tsx
  frontend/web/app/src/components/training/training/TrainingList.spec.tsx
  frontend/web/app/src/components/training/training/TrainingList.tsx
  frontend/web/app/src/components/training/training/TrainingListItemImagePlaceholder.tsx
  frontend/web/app/src/redux/WebAppState.ts
  frontend/web/common/src/components/elementary/complement/EmptyListInfo.tsx
  frontend/web/storybook/stories/trainings/Training.stories.tsx
  frontend/web/test/cypress/integration/scenarios/training/CreateTrainingSet/Steps.ts
Due: Web frontend

refactored list item
  frontend/web/app/src/components/elements/list-items/TripleComboItem.spec.tsx
  frontend/web/app/src/components/elements/list-items/TripleComboItem.tsx
  frontend/web/app/src/components/elements/list-items/TripleComboItemSkeleton.tsx
  frontend/web/app/src/components/media/list/MediaListItem.tsx
  frontend/web/app/src/components/pages/TrainingSetDetailPage.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailContent.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailSkeleton.tsx
  frontend/web/app/src/components/training/set/TrainingSetListItem.tsx
  frontend/web/app/src/components/training/training/TrainingCreateListItem.tsx
  frontend/web/app/src/components/training/training/TrainingCreateListItemPlaceholder.tsx
  frontend/web/app/src/components/training/training/TrainingList.tsx
  frontend/web/app/src/components/training/training/TrainingListItem.tsx
  frontend/web/app/src/router/Router.ts
  frontend/web/storybook/stories/elementary/TripleComboItem.stories.tsx
Due: Web frontend

updates
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/__snapshots__/ControlPanelTitle.spec.tsx.snap
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/__snapshots__/ControlPanelTitleSkeleton.spec.tsx.snap
  frontend/web/app/src/components/elements/list-items/__snapshots__/TripleComboItem.spec.tsx.snap
  frontend/web/app/src/components/elements/list-items/__snapshots__/TripleComboItemSkeleton.spec.tsx.snap
  frontend/web/app/src/components/layout/__snapshots__/AuthorizedRouterLayout.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaList.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaListItem.spec.tsx.snap
  frontend/web/app/src/components/training/set/TrainingSetDetailContent.spec.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailSkeleton.spec.tsx
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetDetailContent.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetDetailSkeleton.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetList.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetListItem.spec.tsx.snap
  frontend/web/app/src/components/training/training/TrainingCreateListItem.spec.tsx
  frontend/web/app/src/components/training/training/TrainingCreateListItem.tsx
  frontend/web/app/src/components/training/training/TrainingCreateListItemPlaceholder.spec.tsx
  frontend/web/app/src/components/training/training/__snapshots__/TrainingCreateListItem.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingCreateListItemPlaceholder.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingDetail.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingForm.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingList.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingListItem.spec.tsx.snap
Due: Web frontend

update training
  backend/main/src/cleaner/cleaner.controller.spec.ts
  backend/main/src/cleaner/cleaner.controller.ts
  common/test/scenarios/training/UpdateTrainingSet.feature
  frontend/common/src/redux/process/training-set/TrainingSetUpdate.ts
  frontend/web/app/src/components/control-panel/base/ControlPanelTitle/ControlPanelTitle.tsx
  frontend/web/app/src/components/elements/controls/EditConfirmDeleteControls.spec.tsx
  frontend/web/app/src/components/elements/controls/EditConfirmDeleteControls.tsx
  frontend/web/app/src/components/elements/controls/EditDeleteControls.spec.tsx
  frontend/web/app/src/components/elements/controls/EditDeleteControls.tsx
  frontend/web/app/src/components/elements/controls/__snapshots__/EditConfirmDeleteControls.spec.tsx.snap
  frontend/web/app/src/components/elements/controls/__snapshots__/EditDeleteControls.spec.tsx.snap
  frontend/web/app/src/components/layout/AuthorizedRouterLayout.tsx
  frontend/web/app/src/components/pages/TrainingSetCreatePage.tsx
  frontend/web/app/src/components/pages/TrainingSetDetailPage.tsx
  frontend/web/app/src/components/pages/TrainingSetEditPage.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailContent.tsx
  frontend/web/app/src/components/training/set/TrainingSetForm.tsx
  frontend/web/app/src/redux/process/training-set/TrainingSetUpdate.ts
  frontend/web/app/src/router/Router.ts
  frontend/web/common/src/components/functional/routing/RedirectWatcher.tsx
  frontend/web/common/src/redux/process/routing/RedirectClean.ts
  frontend/web/storybook/stories/elementary/Controls.stories.tsx
  frontend/web/test/cypress/integration/scenarios/training/UpdateTrainingSet/Steps.ts
Due: Main backend, Web frontend

delete training set
  frontend/common/src/redux-system/process/BindProcessActionCreator.ts
  frontend/common/src/redux-system/process/ProcessActionCreator.ts
  frontend/common/src/redux-system/process/ProcessActionCreatorOverride.ts
  frontend/common/src/redux-system/process/ProcessActionExtractor.ts
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/common/src/redux/process/training-set/TrainingSetBaseFetch.spec.ts
  frontend/common/src/redux/process/training-set/TrainingSetBaseFetch.ts
  frontend/common/src/redux/process/training-set/TrainingSetCreate.ts
  frontend/common/src/redux/process/training-set/TrainingSetRemove.ts
  frontend/web/app/src/components/elements/controls/EditConfirmDeleteControls.tsx
  frontend/web/app/src/components/elements/controls/EditDeleteControls.tsx
  frontend/web/app/src/components/pages/TrainingSetCreatePage.tsx
  frontend/web/app/src/components/pages/TrainingSetDetailPage.tsx
  frontend/web/app/src/components/pages/TrainingSetEditPage.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailContent.tsx
  frontend/web/app/src/redux/process/training-set/TrainingSetFetch.ts
  frontend/web/app/src/redux/process/training-set/TrainingSetRemove.ts
  frontend/web/app/src/router/Router.ts
  frontend/web/storybook/stories/elementary/Controls.stories.tsx
  frontend/web/test/cypress/integration/scenarios/training/DeleteTrainingSet/Steps.ts
  frontend/web/test/cypress/integration/scenarios/training/UpdateTrainingSet/Steps.ts
Due: Web frontend

some tests and skeletons
  frontend/common/src/redux-system/process/ProcessActionCreatorOverride.ts
  frontend/common/src/redux-system/process/ProcessActionExtractor.ts
  frontend/web/app/src/components/elements/controls/EditDeleteControlsSkeleton.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailSkeleton.tsx
  frontend/web/app/src/redux/process/training-set/TrainingSetFetch.spec.ts
  frontend/web/app/src/redux/process/training-set/TrainingSetRemove.spec.ts
  frontend/web/app/src/redux/process/training-set/TrainingSetUpdate.spec.ts
  frontend/web/storybook/stories/elementary/Controls.stories.tsx
Due: Web frontend

translations
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/web/app/src/components/control-panel/base/ControlPanelMainContent.spec.tsx
  frontend/web/app/src/components/elements/controls/EditDeleteControlsSkeleton.spec.tsx
  frontend/web/app/src/components/training/set/TrainingSetDetailContent.tsx
  frontend/web/common/src/components/elementary/complement/EmptyListInfo.spec.tsx
Due: Web frontend

updates
  frontend/web/app/src/components/elements/list-items/TripleComboItem.tsx
  frontend/web/app/src/components/media/list/MediaList.tsx
  frontend/web/app/src/components/pages/TrainingDetailPage.tsx
  frontend/web/app/src/components/training/training/TrainingDetail.tsx
Due: Web frontend

update training
  backend/main/src/cleaner/cleaner.controller.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  common/test/scenarios/training/UpdateTraining.feature
  frontend/common/src/redux/process/training/TrainingRemove.ts
  frontend/common/src/redux/process/training/TrainingUpdate.ts
  frontend/common/src/types/dto/TrainingUpdateInput.ts
  frontend/common/src/types/interfaces/IList.ts
  frontend/common/src/types/interfaces/ITrainingUpdateInput.ts
  frontend/web/app/src/components/control-panel/base/ControlPanelWrapper.tsx
  frontend/web/app/src/components/layout/AuthorizedRouterLayout.tsx
  frontend/web/app/src/components/media/form/MediaAutocompleteInput.tsx
  frontend/web/app/src/components/media/form/MediaProviderInput.tsx
  frontend/web/app/src/components/media/form/MediaSearchForm.tsx
  frontend/web/app/src/components/pages/TrainingDetailPage.tsx
  frontend/web/app/src/components/pages/TrainingEditPage.tsx
  frontend/web/app/src/components/training/training/TrainingDetail.tsx
  frontend/web/app/src/components/training/training/TrainingForm.tsx
  frontend/web/app/src/components/training/training/TrainingFormSkeleton.spec.tsx
  frontend/web/app/src/components/training/training/TrainingFormSkeleton.tsx
  frontend/web/app/src/components/training/training/TrainingFormWireframe.spec.tsx
  frontend/web/app/src/components/training/training/TrainingFormWireframe.tsx
  frontend/web/app/src/redux/process/media/MediaSearch.ts
  frontend/web/app/src/redux/process/training/TrainingRemove.ts
  frontend/web/app/src/redux/process/training/TrainingUpdate.ts
  frontend/web/app/src/services/validation/TrainingValidation.ts
  frontend/web/common/src/dom/InputHacker.ts
  frontend/web/storybook/stories/trainings/Training.stories.tsx
  frontend/web/test/cypress.json
  frontend/web/test/cypress/fixtures/media/FindMedia.json
  frontend/web/test/cypress/integration/scenarios/training/CreateTraining/Steps.ts
  frontend/web/test/cypress/integration/scenarios/training/UpdateTraining/Steps.ts
  frontend/web/test/cypress/support/cmds/actions/ClickOnEdit.ts
  frontend/web/test/cypress/support/cmds/flow/CreateMedia.ts
  frontend/web/test/cypress/support/cmds/flow/CreateTraining.ts
  frontend/web/test/cypress/support/cmds/mock/GraphQLRequest.ts
  frontend/web/test/cypress/support/cmds/packs/AddCommands.ts
  frontend/web/test/package.json
  frontend/web/test/yarn.lock
Due: Main backend, Web frontend

remove training
  frontend/web/test/cypress/integration/scenarios/training/DeleteTraining/Steps.ts
Due: Web frontend

updated test snapshots
  frontend/web/app/src/components/layout/AuthorizedRouterLayout.spec.tsx
  frontend/web/app/src/components/media/form/__snapshots__/MediaAutocompleteInput.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaList.spec.tsx.snap
  frontend/web/app/src/components/media/list/__snapshots__/MediaListItem.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetDetailContent.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetList.spec.tsx.snap
  frontend/web/app/src/components/training/set/__snapshots__/TrainingSetListItem.spec.tsx.snap
  frontend/web/app/src/components/training/training/TrainingDetail.spec.tsx
  frontend/web/app/src/components/training/training/TrainingForm.spec.tsx
  frontend/web/app/src/components/training/training/__snapshots__/TrainingCreateListItem.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingDetail.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingForm.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingFormSkeleton.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingFormWireframe.spec.tsx.snap
  frontend/web/common/src/components/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/web/common/src/components/elementary/complement/__snapshots__/EmptyListInfo.spec.tsx.snap
  frontend/web/common/src/components/functional/infinite-list/__snapshots__/InfiniteGridList.spec.tsx.snap
Due: Web frontend

prepared scenario for profile
  common/test/scenarios/user/Profile.feature
  frontend/web/test/cypress/integration/scenarios/user/Profile/Steps.ts
Due: Main backend, Web frontend

fixed eslint
  backend/main/.gitlab-ci.yml
  frontend/web/.gitlab-ci.yml
  frontend/web/app/src/components/media/list/MediaListItem.tsx
  frontend/web/app/src/components/player/MediaPlayerContainer.tsx
  frontend/web/app/src/components/training/training/TrainingForm.tsx
  frontend/web/app/src/redux/process/media/MediaSearch.ts
Due: Main backend, Web frontend

playing allowed
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/common/src/redux/process/media/TrainingPlayNext.ts
  frontend/common/src/redux/process/media/TrainingSetPlayingMedia.ts
  frontend/common/test/scenarios/training/PlayTraining.feature
  frontend/web/app/src/components/pages/TrainingDetailPage.tsx
  frontend/web/app/src/components/player/MediaPlayer.tsx
  frontend/web/app/src/components/player/MediaPlayerContainer.tsx
  frontend/web/app/src/components/player/MediaPlayerControls.tsx
  frontend/web/app/src/components/player/providers/YoutubeMediaPlayer.tsx
  frontend/web/app/src/components/training/training/TrainingDetail.tsx
Due: Web frontend

tests
  backend/main/src/media/providers/youtube.provider.ts
  backend/main/src/migrations/media.static.ts
  backend/main/src/migrations/migrations.module.ts
  backend/main/src/migrations/migrations.service.ts
  frontend/web/.gitlab-ci.yml
  frontend/web/test/.gitignore
  frontend/web/test/cypress/integration/scenarios/training/CreateTraining/Steps.ts
  frontend/web/test/cypress/integration/scenarios/training/CreateTrainingSet/Steps.ts
Due: Main backend, Web frontend

fixed SB
  frontend/web/storybook/stories/media/Player.stories.tsx
Due: Web frontend

rm root dep
  package.json
  yarn.lock
Due: none

updated tests
  README.md
  frontend/web/app/src/components/player/__snapshots__/MediaPlayerContainer.spec.tsx.snap
  frontend/web/app/src/components/training/training/TrainingDetail.spec.tsx
  frontend/web/app/src/components/training/training/__snapshots__/TrainingList.spec.tsx.snap
  frontend/web/app/src/components/training/training/__snapshots__/TrainingListItem.spec.tsx.snap
  frontend/web/common/src/components/auth/__snapshots__/RegistrationForm.spec.tsx.snap
Due: Web frontend

show app/storybook option in dev menu
  frontend/native/app/index.js
  frontend/native/app/ios/Podfile.lock
  frontend/native/app/src/DevApp.tsx
Due: none

fixed flex
  frontend/native/app/src/components/elements/semantical/IdView.tsx
Due: none

android ; register screen
  frontend/native/app/android/app/build.gradle
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Black.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-BlackItalic.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Bold.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-BoldItalic.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Italic.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Light.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-LightItalic.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Medium.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-MediumItalic.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Rubik-Regular.ttf
  frontend/native/app/android/build.gradle
  frontend/native/app/android/gradle/wrapper/gradle-wrapper.properties
  frontend/native/app/src/App.tsx
  frontend/native/app/src/Screens.ts
  frontend/native/app/src/components/elements/lib/Button.tsx
  frontend/native/app/src/components/elements/patch/Patch.tsx
  frontend/native/app/src/components/navigation/BaseNavigation.tsx
  frontend/native/app/src/components/navigation/PlainLayoutNavigation.tsx
  frontend/native/app/src/components/navigation/UnauthorizedNavigation.tsx
  frontend/native/app/src/components/plain-layout/PlainLayout.tsx
  frontend/native/app/src/components/plain-layout/PlainLayoutInner.tsx
  frontend/native/app/src/components/plain-layout/PlainLayoutNarrow.tsx
  frontend/native/app/src/components/screens/LoginScreen.tsx
  frontend/native/app/src/components/screens/RegisterScreen.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/RegistrationForm.tsx
  frontend/native/app/src/components/user/auth/RegistrationFormFooter.tsx
  frontend/native/app/src/theme/Theme.ts
Due: none

request reset password
  frontend/common/src/types/schemas/validation/RequestResetPasswordSchema.ts
  frontend/native/app/src/components/screens/RequestResetPasswordScreen.tsx
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.spec.tsx
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.tsx
  frontend/native/app/src/components/user/auth/__snapshots__/RequestResetPasswordForm.spec.tsx.snap
  frontend/web/app/src/components/auth/ForgotPasswordForm.tsx
Due: Web frontend

loader in button
  frontend/native/app/package.json
  frontend/native/app/src/components/elements/lib/Button.tsx
  frontend/native/app/src/components/elements/lib/TextField.spec.tsx
  frontend/native/app/src/components/elements/lib/TextField.tsx
  frontend/native/app/src/components/elements/lib/__snapshots__/TextField.spec.tsx.snap
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/RegistrationForm.tsx
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.tsx
  frontend/native/storybook/storybook/stories/Elements.stories.tsx
  frontend/yarn.lock
Due: none

updates
  frontend/native/app/src/components/elements/lib/Button.tsx
  frontend/native/app/src/components/screens/RequestResetPasswordScreen.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/RegistrationForm.tsx
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.tsx
Due: none

alert
  frontend/native/app/src/App.tsx
  frontend/native/app/src/components/functional/AlertController.tsx
  frontend/native/app/src/redux/NativeAppState.ts
  frontend/native/app/src/redux/process/alert/AlertClear.ts
  frontend/native/app/src/types/alert/AlertOK.ts
  frontend/native/app/src/types/alert/AlertOptions.ts
Due: none

added navigation
  frontend/common/src/redux/process/auth/Login.ts
  frontend/native/app/src/App.tsx
  frontend/native/app/src/Screens.ts
  frontend/native/app/src/components/functional/AlertReduxController.tsx
  frontend/native/app/src/components/functional/NavigationReduxController.tsx
  frontend/native/app/src/redux/NativeAppState.ts
  frontend/native/app/src/redux/process/auth/NativeAuth.ts
  frontend/native/app/src/redux/process/controllers/AlertClear.ts
  frontend/native/app/src/redux/process/controllers/NavigationClear.ts
  frontend/native/app/src/types/nav/NavigateNoParams.ts
  frontend/native/app/src/types/nav/NavigateOptions.ts
  frontend/native/app/src/types/nav/NavigateTo.ts
  frontend/native/app/src/types/nav/NavigationScreenIdentifier.ts
Due: Web frontend

login
  frontend/native/app/src/App.tsx
  frontend/native/app/src/components/navigation/UnauthorizedNavigation.tsx
  frontend/native/app/src/components/screens/LoginScreen.tsx
  frontend/native/app/src/graphql/NativeApolloClient.ts
  frontend/native/app/src/redux/process/auth/LocalAuth.ts
  frontend/native/app/src/redux/process/auth/NativeAuth.ts
  frontend/native/app/src/services/navigation/CreateNavigationReduxScreen.tsx
  frontend/native/app/src/services/storage/RuntimeStorage.ts
  frontend/native/app/src/setup.ts
Due: none

back button and portals
  frontend/native/app/android/app/build.gradle
  frontend/native/app/android/app/src/main/assets/fonts/AntDesign.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Entypo.ttf
  frontend/native/app/android/app/src/main/assets/fonts/EvilIcons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Feather.ttf
  frontend/native/app/android/app/src/main/assets/fonts/FontAwesome.ttf
  frontend/native/app/android/app/src/main/assets/fonts/FontAwesome5_Brands.ttf
  frontend/native/app/android/app/src/main/assets/fonts/FontAwesome5_Regular.ttf
  frontend/native/app/android/app/src/main/assets/fonts/FontAwesome5_Solid.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Foundation.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Ionicons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/MaterialCommunityIcons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/MaterialIcons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Octicons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/SimpleLineIcons.ttf
  frontend/native/app/android/app/src/main/assets/fonts/Zocial.ttf
  frontend/native/app/android/app/src/main/java/com/byot/MainApplication.java
  frontend/native/app/android/settings.gradle
  frontend/native/app/ios/Podfile
  frontend/native/app/ios/Podfile.lock
  frontend/native/app/ios/byot.xcodeproj/project.pbxproj
  frontend/native/app/ios/byot/Info.plist
  frontend/native/app/package.json
  frontend/native/app/src/components/functional/Portals.tsx
  frontend/native/app/src/components/icons/MaterialIcon.tsx
  frontend/native/app/src/components/icons/material/KeyboardArrowLeft.tsx
  frontend/native/app/src/components/navigation/PlainLayoutBackButton.spec.tsx
  frontend/native/app/src/components/navigation/PlainLayoutBackButton.tsx
  frontend/native/app/src/components/navigation/PlainLayoutBackButtonPortal.tsx
  frontend/native/app/src/components/navigation/PlainLayoutNavigation.tsx
  frontend/native/app/src/components/plain-layout/PlainLayout.tsx
  frontend/native/app/src/components/plain-layout/PlainLayoutNarrow.tsx
  frontend/native/app/src/components/screens/RequestResetPasswordScreen.tsx
  frontend/native/app/src/theme/Theme.ts
  frontend/native/storybook/storybook/stories/Elements.stories.tsx
  frontend/yarn.lock
Due: none

request reset password done
  frontend/common/src/redux-system/process/ProcessActionCreatorOverride.ts
  frontend/common/src/redux/process/auth/RequestResetPassword.ts
  frontend/common/src/redux/process/auth/SubmitResetPassword.ts
  frontend/native/app/__mocks__/@react-native-community/async-storage.ts
  frontend/native/app/src/components/navigation/PlainLayoutBackButton.spec.tsx
  frontend/native/app/src/components/navigation/__snapshots__/PlainLayoutBackButton.spec.tsx.snap
  frontend/native/app/src/components/plain-layout/__snapshots__/PlainLayoutInner.spec.tsx.snap
  frontend/native/app/src/components/screens/LoginScreen.tsx
  frontend/native/app/src/components/screens/RequestResetPasswordScreen.tsx
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.tsx
  frontend/native/app/src/components/user/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RequestResetPasswordForm.spec.tsx.snap
  frontend/native/app/src/redux/process/auth/RequestResetPassword.ts
  frontend/web/common/src/redux/process/auth/RequestResetPassword.spec.ts
  frontend/web/common/src/redux/process/auth/RequestResetPassword.ts
  frontend/web/common/src/redux/process/auth/SubmitResetPassword.spec.ts
  frontend/web/common/src/redux/process/auth/SubmitResetPassword.ts
Due: Web frontend
