Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web frontend

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml

Web frontend:
  stage: spawn
  trigger:
    include: frontend/web/.gitlab-ci.yml

loader rounded
  frontend/native/app/package.json
  frontend/native/app/src/components/elements/lib/Button.tsx
  frontend/yarn.lock
Due: none

navigation ; env
  .nvmrc
  frontend/common/src/graphql/client/ProcessEnvApolloClient.ts
  frontend/native/app/.env
  frontend/native/app/.env.common
  frontend/native/app/.env.shared
  frontend/native/app/babel.config.js
  frontend/native/app/babel/plugin/babel-plugin-transform-inline-environment-variables-dotenv/index.js
  frontend/native/app/babel/plugin/babel-plugin-transform-inline-environment-variables-dotenv/package.json
  frontend/native/app/ios/Podfile.lock
  frontend/native/app/package.json
  frontend/native/app/src/App.tsx
  frontend/native/app/src/components/functional/NavigationReduxController.tsx
  frontend/native/app/src/graphql/NativeApolloClient.ts
  frontend/native/app/src/redux/process/auth/RequestResetPassword.ts
  frontend/native/app/src/types/nav/NavigateBack.ts
  frontend/native/app/src/types/nav/NavigateOptions.ts
  frontend/native/app/src/types/nav/NavigateTo.ts
  frontend/native/storybook/storybook/stories/Elements.stories.tsx
  frontend/web/common/src/graphql/WebApolloClient.ts
  frontend/yarn.lock
Due: Web frontend

registration
  frontend/common/src/redux/process/auth/Login.ts
  frontend/common/src/redux/process/auth/Register.ts
  frontend/common/src/redux/process/training-set/TrainingSetCreate.ts
  frontend/common/src/redux/process/training-set/TrainingSetRemove.ts
  frontend/common/src/redux/process/training-set/TrainingSetUpdate.ts
  frontend/common/src/redux/process/training/TrainingCreate.ts
  frontend/common/src/redux/process/training/TrainingRemove.ts
  frontend/common/src/redux/process/training/TrainingUpdate.ts
  frontend/native/app/src/components/screens/RegisterScreen.tsx
  frontend/native/app/src/redux/process/auth/NativeRegister.ts
Due: Web frontend

tests
  frontend/common/src/redux/process/auth/Register.ts
  frontend/common/src/redux/process/media/TrainingPlayNext.spec.ts
  frontend/common/src/redux/process/media/TrainingPlayNext.ts
  frontend/common/src/redux/process/media/TrainingSetPlayingMedia.spec.ts
  frontend/common/src/types/dto/Media.ts
  frontend/common/src/types/dto/Source.ts
  frontend/common/test/fixtures/dto/List.ts
  frontend/common/test/fixtures/dto/User.ts
  frontend/native/app/package.json
  frontend/native/app/src/components/navigation/__snapshots__/UnauthorizedNavigation.spec.tsx.snap
  frontend/native/app/src/components/screens/RegisterScreen.tsx
  frontend/native/app/src/redux/process/auth/LocalAuth.spec.ts
  frontend/native/app/src/redux/process/auth/LocalAuth.ts
  frontend/native/app/src/redux/process/auth/NativeAuth.spec.ts
  frontend/native/app/src/redux/process/auth/NativeAuth.ts
  frontend/native/app/src/redux/process/auth/NativeRegister.spec.ts
  frontend/native/app/src/redux/process/auth/NativeRegister.ts
  frontend/native/app/src/redux/process/auth/RequestResetPassword.spec.ts
  frontend/native/app/src/redux/process/auth/RequestResetPassword.ts
  frontend/native/app/src/redux/process/controllers/AlertClear.spec.ts
  frontend/native/app/src/redux/process/controllers/NavigationClear.spec.ts
  frontend/native/app/tsconfig.json
  frontend/web/app/src/components/pages/TrainingDetailPage.tsx
  frontend/yarn.lock
Due: Web frontend

auth layout
  frontend/native/app/__mocks__/@react-navigation/bottom-tabs.ts
  frontend/native/app/__mocks__/@react-navigation/native.ts
  frontend/native/app/android/app/build.gradle
  frontend/native/app/package.json
  frontend/native/app/src/App.tsx
  frontend/native/app/src/DevApp.tsx
  frontend/native/app/src/Screens.ts
  frontend/native/app/src/components/functional/SplashScreenHide.tsx
  frontend/native/app/src/components/navigation/AuthorizedNavigationRoot.spec.tsx
  frontend/native/app/src/components/navigation/AuthorizedNavigationRoot.tsx
  frontend/native/app/src/components/navigation/AuthorizedNavigationTabs.spec.tsx
  frontend/native/app/src/components/navigation/AuthorizedNavigationTabs.tsx
  frontend/native/app/src/components/navigation/NavigationRoot.spec.tsx
  frontend/native/app/src/components/navigation/NavigationRoot.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/RegistrationForm.tsx
  frontend/native/app/src/redux/process/auth/NativeAuth.ts
  frontend/native/app/src/redux/process/auth/NativeRegister.spec.ts
  frontend/native/app/src/redux/process/auth/NativeRegister.ts
  frontend/yarn.lock
Due: none

unit tests
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  frontend/common/src/types/schemas/validation/LoginSchema.ts
  frontend/common/test/fixtures/dto/TrainingSet.ts
  frontend/native/app/package.json
  frontend/native/app/src/components/elements/lib/__snapshots__/TextField.spec.tsx.snap
  frontend/native/app/src/components/elements/patch/__snapshots__/Patch.spec.tsx.snap
  frontend/native/app/src/components/screens/LoginScreen.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RequestResetPasswordForm.spec.tsx.snap
  frontend/web/common/src/components/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/yarn.lock
Due: Main backend, Web frontend

backend unit tests
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/media/media/media.resolver.spec.ts
  backend/main/src/training/training-set/training-set.resolver.spec.ts
  backend/main/src/training/training/training.resolver.spec.ts
Due: Main backend

unit frontend native app tests
  frontend/common/src/types/dto/UserRegister.ts
  frontend/native/app/src/components/elements/lib/__snapshots__/TextField.spec.tsx.snap
  frontend/native/app/src/components/functional/NavigationReduxController.tsx
  frontend/native/app/src/components/icons/MaterialIcon.spec.tsx
  frontend/native/app/src/components/icons/__snapshots__/MaterialIcon.spec.tsx.snap
  frontend/native/app/src/components/icons/material/KeyboardArrowLeft.spec.tsx
  frontend/native/app/src/components/icons/material/__snapshots__/KeyboardArrowLeft.spec.tsx.snap
  frontend/native/app/src/components/navigation/__snapshots__/AuthorizedNavigationRoot.spec.tsx.snap
  frontend/native/app/src/components/navigation/__snapshots__/PlainLayoutNavigation.spec.tsx.snap
  frontend/native/app/src/components/navigation/__snapshots__/UnauthorizedNavigation.spec.tsx.snap
  frontend/native/app/src/components/plain-layout/__snapshots__/PlainLayoutNarrow.spec.tsx.snap
  frontend/native/app/src/components/user/auth/RequestResetPasswordForm.spec.tsx
  frontend/native/app/src/components/user/auth/ResetPasswordForm.spec.tsx
  frontend/native/app/src/components/user/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/RequestResetPasswordForm.spec.tsx.snap
  frontend/native/app/src/components/user/auth/__snapshots__/ResetPasswordForm.spec.tsx.snap
  frontend/native/app/src/redux/process/auth/LocalAuth.spec.ts
  frontend/native/app/src/redux/process/auth/Logout.spec.ts
  frontend/native/app/src/redux/process/auth/NativeRegister.spec.ts
  frontend/native/app/src/redux/process/auth/RequestResetPassword.ts
  frontend/native/app/src/redux/process/auth/SubmitResetPassword.spec.ts
  frontend/native/app/src/services/storage/AsyncStorage.ts
Due: Web frontend

unit frontend web common tests
  frontend/web/common/src/components/auth/RegistrationForm.spec.tsx
  frontend/web/common/src/components/auth/__snapshots__/RegistrationForm.spec.tsx.snap
Due: Web frontend

e2e backend tests
  backend/main/src/auth/jwt/auth.guard.ts
  backend/main/test/helpers/interaction.ts
  backend/main/test/helpers/module.helper.ts
  backend/main/test/media.e2e-spec.ts
  backend/main/test/training.e2e-spec.ts
Due: Main backend

e2e frontend web app tests
  frontend/common/src/redux/process/auth/RequestResetPassword.ts
  frontend/web/app/src/components/auth/ForgotPasswordForm.tsx
  frontend/web/app/src/components/auth/ResetPasswordForm.tsx
  frontend/web/app/src/components/pages/RequestResetPasswordFormPage.tsx
  frontend/web/app/src/components/pages/ResetPasswordFormPage.tsx
Due: Web frontend

e2e frontend native app tests [auth]
  frontend/native/test/steps/scenarios/auth/Login.spec.ts
Due: none

docker
  .dockerignore
  .gitlab-ci.yml
  backend.dockerfile
  backend/main/.env
  docker-compose.yml
  frontend-web.dockerfile
  frontend/yarn.lock
Due: Main backend

Sun Oct 4 16:25:38 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:26:13 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:31:36 CEST 2020
  .gitlab-ci.yml
  docker-compose.yml
Due: none

Sun Oct 4 16:34:42 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:36:58 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:42:37 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:42:46 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:56:28 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 16:57:04 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:00:01 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:01:26 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:01:53 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:02:26 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:03:15 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:05:02 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:05:59 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:07:13 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:08:23 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:10:02 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:11:44 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:15:23 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:16:43 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:38:31 CEST 2020
  .gitlab-ci.yml
Due: none

Sun Oct 4 17:41:28 CEST 2020
  docker-compose.yml
Due: none

Path conditions:
  Main backend: any of: backend/main/**/*, common/**/*, scripts/**/*
  Web frontend: any of: frontend/web/**/*, frontend/web/.gitlab-ci.yml, frontend/common/**/*, common/**/*, scripts/**/*
