Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web frontend

.gitlab-ci.yml:

stages:
  - spawn

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml
  only:
    changes:
      - backend/main/**/*
      - common/**/*
      - scripts/**/*

Web frontend:
  stage: spawn
  trigger:
    include: frontend/web/.gitlab-ci.yml
  only:
    changes:
      - frontend/web/**/*
      - frontend/web/.gitlab-ci.yml
      - frontend/common/**/*
      - common/**/*
      - scripts/**/*

# This will probably go through AppCenter
# Native mobile frontend:
#   stage: spawn
#   trigger:
#     include: frontend/native-mobile/.gitlab-ci.yml
#   only:
#     changes:
#       - frontend/native-mobile/**/*
#       - frontend/common/**/*
#       - common/**/*
#       - scripts/**/*

login finished ; I suppose I could start doing native
  backend/main/src/main.ts
  frontend/common/.env
  frontend/common/package.json
  frontend/common/src/graphql/client/CreateApolloClient.ts
  frontend/common/src/graphql/client/EnvApolloClient.ts
  frontend/common/src/redux-system/data-structures/resources/Resource.ts
  frontend/common/src/redux-system/data-structures/responses/DataResponse.ts
  frontend/common/src/redux-system/data-structures/responses/GraphQLResponse.ts
  frontend/common/src/redux-system/process/ProcessActionCreator.ts
  frontend/common/src/redux-system/process/ProcessActionExtractor.ts
  frontend/common/src/redux-system/process/ProcessActions.ts
  frontend/common/src/redux-system/saga/AsyncSaga.ts
  frontend/common/src/redux-system/saga/wrappers/GraphQLSagaWrapper.ts
  frontend/common/src/redux-system/saga/wrappers/SagaWrapper.ts
  frontend/common/src/redux-system/store/Reducer.ts
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/common/src/redux/process/auth/Login.spec.ts
  frontend/common/src/redux/process/auth/Login.ts
  frontend/web/app/src/components/pages/LoginFormPage.tsx
  frontend/web/common/src/dom/FrontendCommonWebStorage.ts
  frontend/web/common/src/dom/LocalStorage.ts
  frontend/web/common/src/graphql/WebApolloClient.ts
  frontend/web/common/src/redux/WebState.ts
  frontend/web/common/src/redux/process/auth/WebAuth.spec.ts
  frontend/web/common/src/redux/process/auth/WebAuth.ts
  frontend/web/common/src/setup/SetupTests.ts
  frontend/web/common/tsconfig.json
Due: Main backend, Web frontend

cypress initialized
  backend/main/.env.common
  backend/main/src/app.module.ts
  backend/main/src/config/app.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/env.helper.ts
  backend/main/test/helpers/http.helper.ts
  common/.env
  common/test/scenarios/auth/Login.feature
  frontend/common/.env.common
  frontend/common/jest.config.js
  frontend/common/package.json
  frontend/common/src/env/ParseCommonEnvFiles.js
  frontend/common/tsconfig.json
  frontend/package.json
  frontend/web/admin/package.json
  frontend/web/app/package.json
  frontend/web/common/package.json
  frontend/web/common/src/components/auth/LoginForm.tsx
  frontend/web/landing/package.json
  frontend/web/test/.env
  frontend/web/test/.env.common
  frontend/web/test/cypress.json
  frontend/web/test/cypress/integration/other/test.spec.ts
  frontend/web/test/cypress/integration/scenarios/auth/Login.feature
  frontend/web/test/cypress/integration/scenarios/auth/Login/Steps.ts
  frontend/web/test/cypress/plugins/index.js
  frontend/web/test/cypress/support/commands.ts
  frontend/web/test/cypress/support/index.ts
  frontend/web/test/generate-scenarios.js
  frontend/web/test/helpers/EnvString.ts
  frontend/web/test/package.json
  frontend/web/test/tsconfig.json
  frontend/web/test/yarn.lock
  frontend/yarn.lock
Due: Main backend, Web frontend

updated logo generator
  frontend/common/src/static/img/logo.svg
  frontend/web/admin/public/favicon.ico
  frontend/web/admin/public/logo192.png
  frontend/web/app/public/favicon.ico
  frontend/web/app/public/logo192.png
  frontend/web/landing/public/favicon.ico
  frontend/web/landing/public/logo192.png
  frontend/web/storybook/stories/user/Partials.stories.tsx
  scripts/src/logo/CalculatePaths.ts
  scripts/src/logo/LogoGenerate.ts
  scripts/src/logo/parts/B.ts
  scripts/src/logo/parts/O.ts
  scripts/src/logo/parts/T.ts
  scripts/src/logo/parts/Y.ts
  scripts/src/logo/variants/Full.ts
  scripts/src/logo/variants/Square.ts
  scripts/src/logo/variants/Variant.ts
Due: Main backend, Web frontend

setup appium
  frontend/native/app/src/components/elements/button/Button.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/test/.babelrc
  frontend/native/test/.env
  frontend/native/test/.env.common
  frontend/native/test/features/scenarios/auth/Login.feature
  frontend/native/test/generate-scenarios.js
  frontend/native/test/helpers/EnvString.ts
  frontend/native/test/package.json
  frontend/native/test/steps/index.ts
  frontend/native/test/steps/scenarios/auth/Login.spec.ts
  frontend/native/test/tsconfig.json
  frontend/native/test/wdio.conf.js
  frontend/native/test/yarn.lock
Due: none

NATIVE TESTS
  frontend/common/package.json
  frontend/common/src/i18n/GetCurrentLanguage.ts
  frontend/native/app/babel.config.js
  frontend/native/app/jest.config.js
  frontend/native/app/package.json
  frontend/native/app/src/components/elements/button/Button.tsx
  frontend/native/app/src/components/elements/text-field/TextField.tsx
  frontend/native/app/src/components/user/auth/LoginForm.spec.tsx
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/native/app/src/setupTests.js
  frontend/native/app/tsconfig.json
  frontend/native/test/package.json
  frontend/web/common/package.json
  frontend/yarn.lock
Due: Web frontend

minor resolve todo
  frontend/native/app/src/components/user/auth/LoginForm.spec.tsx
Due: none

updated tests
  backend/main/package.json
  backend/main/test/features/scenarios
  backend/main/test/features/steps/auth/login.e2e-spec.ts
  backend/main/test/shared
  backend/main/yarn.lock
  common/test/helpers/EnvString.ts
  frontend/native/test/helpers/EnvString.ts
  frontend/native/test/shared
  frontend/native/test/steps/scenarios/auth/Login.spec.ts
  frontend/web/test/cypress/integration/scenarios/auth/Login/Steps.ts
  frontend/web/test/helpers/EnvString.ts
  frontend/web/test/shared
Due: Main backend, Web frontend

Web component: Registration
  common/graphql/schema/User.graphql
  common/graphql/ts/types.ts
  frontend/common/package.json
  frontend/common/src/redux-system/store/Actions.ts
  frontend/common/src/types/dto/DateTime.ts
  frontend/common/src/types/dto/User.ts
  frontend/common/src/types/dto/UserRegister.ts
  frontend/common/src/types/interfaces/IDateTime.ts
  frontend/common/src/types/interfaces/IUser.ts
  frontend/common/src/types/interfaces/IUserRegister.ts
  frontend/native/app/ios/byot.xcodeproj/project.pbxproj
  frontend/native/app/package.json
  frontend/native/test/package.json
  frontend/web/common/package.json
  frontend/web/common/src/components/auth/LoginForm.tsx
  frontend/web/common/src/components/auth/RegistrationForm.spec.tsx
  frontend/web/common/src/components/auth/RegistrationForm.tsx
  frontend/web/common/src/components/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/web/common/src/components/auth/__snapshots__/RegistrationForm.spec.tsx.snap
  frontend/web/common/src/components/elementary/form/CheckboxRadioBase.tsx
  frontend/web/common/src/components/elementary/form/FormHelperText.tsx
  frontend/web/common/src/components/elementary/form/InputBase.tsx
  frontend/web/common/src/components/elementary/form/InputLabel.tsx
  frontend/web/common/src/components/elementary/form/__snapshots__/Button.spec.tsx.snap
  frontend/web/common/src/components/plain-layout/PlainLayout.tsx
  frontend/web/common/src/components/plain-layout/PlainLayoutNarrow.tsx
  frontend/web/common/src/components/plain-layout/PlainLayoutTitle.tsx
  frontend/web/common/src/redux/process/auth/WebAuth.spec.ts
  frontend/web/storybook/package.json
  frontend/web/storybook/stories/user/Auth.stories.tsx
  frontend/yarn.lock
Due: Main backend, Web frontend

Updated translations
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
Due: Web frontend

Web component: RegistrationFormFooter
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/web/app/src/components/auth/RegistrationFormFooter.tsx
  frontend/web/common/src/components/auth/RegistrationForm.tsx
  frontend/web/common/src/components/elementary/form/CheckboxRadioBase.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
Due: Web frontend

Web component: ForgotPasswordForm
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/web/app/src/components/auth/ForgotPasswordForm.spec.tsx
  frontend/web/app/src/components/auth/ForgotPasswordForm.tsx
  frontend/web/app/src/components/auth/__snapshots__/ForgotPasswordForm.spec.tsx.snap
  frontend/web/app/src/components/pages/LoginFormPage.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
Due: Web frontend

Web page: RegistrationFormPage
  common/test/helpers/EnvString.ts
  common/test/scenarios/auth/Register.feature
  frontend/web/app/src/components/layout/BaseRouterLayout.tsx
  frontend/web/app/src/components/pages/RegistrationFormPage.tsx
  frontend/web/app/src/components/pages/RequestResetPasswordFormPage.tsx
  frontend/web/app/src/router/Router.ts
  frontend/web/common/src/i18n/providers/BrowserLanguageProvider.ts
  frontend/web/landing/src/setup.ts
  frontend/web/test/cypress/integration/other/.gitkeep
  frontend/web/test/cypress/integration/other/test.spec.ts
  frontend/web/test/cypress/integration/scenarios/auth/Login/Steps.ts
  frontend/web/test/cypress/integration/scenarios/auth/Register.feature
  frontend/web/test/cypress/integration/scenarios/auth/Register/Steps.ts
Due: Main backend, Web frontend

Fixed script
  backend/main/.gitlab-ci.yml
Due: Main backend

Updated components + tests
  frontend/web/admin/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/admin/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
  frontend/web/app/src/components/auth/ForgotPasswordForm.tsx
  frontend/web/app/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/app/src/components/layout/BaseRouterLayout.tsx
  frontend/web/app/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
  frontend/web/app/src/components/pages/LoginFormPage.tsx
  frontend/web/app/src/components/pages/RegistrationFormPage.tsx
  frontend/web/app/src/components/pages/RequestResetPasswordFormPage.tsx
  frontend/web/common/src/components/plain-layout/PlainLayout.tsx
  frontend/web/common/src/components/plain-layout/PlainLayoutFooter.tsx
  frontend/web/common/src/components/plain-layout/PlainLayoutTitle.tsx
  frontend/web/landing/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/landing/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
Due: Web frontend

Web page: RegistrationFormPage
  .gitignore
  frontend/common/src/i18n/UseTranslation.ts
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/common/src/redux-system/process/BindProcessActionCreator.ts
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/common/src/redux/process/auth/Register.ts
  frontend/common/src/types/app/BaseSnackbar.ts
  frontend/common/src/types/app/ErrorSnackbar.ts
  frontend/common/src/types/app/InfoSnackbar.ts
  frontend/common/src/types/app/SnackbarContent.ts
  frontend/common/src/types/app/SuccessSnackbar.ts
  frontend/common/src/types/app/WarningSnackbar.ts
  frontend/native/app/src/components/user/auth/LoginForm.tsx
  frontend/native/app/src/components/user/auth/LoginFormFooter.tsx
  frontend/web/admin/src/index.tsx
  frontend/web/app/src/components/auth/ForgotPasswordForm.tsx
  frontend/web/app/src/components/auth/LoginFormFooter.tsx
  frontend/web/app/src/components/auth/RegistrationFormFooter.tsx
  frontend/web/app/src/components/pages/RegistrationFormPage.tsx
  frontend/web/app/src/components/pages/RequestResetPasswordFormPage.tsx
  frontend/web/app/src/index.tsx
  frontend/web/common/package.json
  frontend/web/common/src/components/auth/LoginForm.tsx
  frontend/web/common/src/components/auth/RegistrationForm.tsx
  frontend/web/common/src/components/elementary/navigation/BackButton.tsx
  frontend/web/common/src/components/global/SnackbarController.tsx
  frontend/web/common/src/components/plain-layout/PlainLayout.tsx
  frontend/web/common/src/components/plain-layout/PlainLayoutFooter.tsx
  frontend/web/common/src/redux/WebState.ts
  frontend/web/common/src/redux/process/auth/WebAuth.ts
  frontend/web/common/src/redux/process/auth/WebRegister.spec.ts
  frontend/web/common/src/redux/process/auth/WebRegister.ts
  frontend/web/landing/src/index.tsx
  frontend/web/storybook/stories/elementary/Button.stories.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
  frontend/yarn.lock
Due: Web frontend

some todos resolved
  frontend/common/jest.config.js
  frontend/common/src/i18n/CreateI18n.ts
  frontend/common/src/redux-system/store/Store.ts
  frontend/common/src/static/meta/full-svg.json
  frontend/common/src/types/Constants.ts
  frontend/common/test/.gitkeep
  frontend/native/app/src/components/elements/logo/Logo.tsx
  frontend/native/app/src/setup.ts
  frontend/native/app/src/types/Constants.ts
  frontend/web/admin/src/setup.ts
  frontend/web/app/public/android-chrome-192x192.png
  frontend/web/app/public/android-chrome-512x512.png
  frontend/web/app/public/apple-touch-icon.png
  frontend/web/app/public/favicon-16x16.png
  frontend/web/app/public/favicon-32x32.png
  frontend/web/app/public/favicon.ico
  frontend/web/app/public/mstile-144x144.png
  frontend/web/app/public/mstile-150x150.png
  frontend/web/app/public/mstile-310x150.png
  frontend/web/app/public/mstile-310x310.png
  frontend/web/app/public/mstile-70x70.png
  frontend/web/app/public/safari-pinned-tab.svg
  frontend/web/app/public/site.webmanifest
  frontend/web/app/src/setup.ts
  frontend/web/landing/src/setup.ts
  scripts/src/entry/logo-favicon-injector/main.ts
Due: Main backend, Web frontend

basic scenarios
  common/test/scenarios/auth/ForgotPassFeature.feature
  common/test/scenarios/auth/Register.feature
  common/test/scenarios/training/CreateTraining.feature
  common/test/scenarios/training/CreateTrainingSet.feature
  common/test/scenarios/training/DeleteTraining.feature
  common/test/scenarios/training/DeleteTrainingSet.feature
  common/test/scenarios/training/UpdateTraining.feature
  common/test/scenarios/training/UpdateTrainingSet.feature
  common/test/scenarios/user/Profile.feature
  frontend/common/test/.gitkeep
  frontend/common/test/scenarios/control-panel/DefaultAfterLogin.feature
  frontend/common/test/scenarios/training/PlayTraining.feature
Due: Main backend, Web frontend

infinite list
  frontend/common/src/redux-system/data-structures/resources/IterableResource.ts
  frontend/web/common/src/components/functional/infinite-list/InfiniteGridList.tsx
  frontend/web/common/src/components/functional/infinite-list/InfiniteList.spec.tsx
  frontend/web/common/src/components/functional/infinite-list/InfiniteList.tsx
Due: Web frontend

fixed TS errors -_-
  frontend/web/app/src/components/elements/TripleComboItem.tsx
  frontend/web/app/src/components/training/set/TrainingSetListItem.tsx
  frontend/web/app/src/components/training/training/TrainingListItem.tsx
Due: Web frontend

lists
  frontend/web/app/src/components/training/set/TrainingSetList.tsx
  frontend/web/app/src/components/training/training/TrainingList.tsx
  frontend/web/common/src/components/functional/infinite-list/InfiniteList.tsx
  frontend/web/storybook/stories/trainings/Training.stories.tsx
  frontend/web/storybook/stories/trainings/TrainingSet.stories.tsx
Due: Web frontend

some media player
  frontend/common/src/redux/process/auth/Login.ts
  frontend/web/app/package.json
  frontend/web/app/src/components/control-panel/drawer/DrawerMenuItem.tsx
  frontend/web/app/src/components/player/MediaPlayer.tsx
  frontend/web/app/src/components/player/MediaPlayerContainer.tsx
  frontend/web/app/src/components/player/MediaPlayerControls.tsx
  frontend/web/app/src/components/player/MediaPlayerSkeleton.tsx
  frontend/web/app/src/components/player/providers/YoutubeMediaPlayer.tsx
  frontend/web/common/package.json
  frontend/web/common/src/components/elementary/form/Input.tsx
  frontend/web/common/src/components/elementary/patch/Patch.tsx
  frontend/web/common/src/components/elementary/patch/PatchSkeleton.tsx
  frontend/web/common/src/setup/CreateTheme.ts
  frontend/web/storybook/.loki/.gitignore
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Button_Button.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Checkbox.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Input.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Radio.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Select.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Misc_Logo.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Typography_Headings.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Typography_Typography.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Login_Form.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Partials_Login_Form_Footer.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Plain_Layout.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Button_Button.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Checkbox.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Input.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Radio.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Select.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Misc_Logo.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Typography_Headings.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Typography_Typography.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Login_Form.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Partials_Login_Form_Footer.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Plain_Layout.png
  frontend/web/storybook/stories/media/Player.stories.tsx
  frontend/yarn.lock
Due: Web frontend

training detail with player
  frontend/web/app/src/components/elements/list-items/TripleComboItem.tsx
  frontend/web/app/src/components/elements/list-items/TripleComboItemSkeleton.tsx
  frontend/web/app/src/components/elements/lists/TripleComboItemSkeletonList.tsx
  frontend/web/app/src/components/media/list/MediaList.tsx
  frontend/web/app/src/components/media/list/MediaListItem.tsx
  frontend/web/app/src/components/player/MediaPlayerSkeleton.tsx
  frontend/web/app/src/components/training/set/TrainingSetListItem.tsx
  frontend/web/app/src/components/training/training/TrainingDetail.tsx
  frontend/web/app/src/components/training/training/TrainingListItem.tsx
  frontend/web/storybook/stories/elementary/TripleComboItem.stories.tsx
  frontend/web/storybook/stories/trainings/Training.stories.tsx
Due: Web frontend

updated CI
  frontend/web/.gitlab-ci.yml
  frontend/web/common/package.json
  frontend/web/storybook/package.json
  frontend/yarn.lock
Due: Web frontend

updated CI - injection
  frontend/web/.gitlab-ci.yml
Due: Web frontend

update
  backend/main/package.json
  backend/main/src/app.module.ts
  backend/main/src/db/db.controller.ts
  backend/main/src/db/db.module.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/yarn.lock
  frontend/common/package.json
  frontend/common/src/redux-system/process/ProcessActions.ts
  frontend/common/src/redux/process/auth/Login.ts
  frontend/web/app/src/components/control-panel/drawer/DrawerMenuItem.tsx
  frontend/web/app/src/index.tsx
  frontend/web/app/src/router/Router.ts
  frontend/web/common/src/components/global/SnackbarController.tsx
  frontend/web/common/src/graphql/WebApolloClient.ts
  frontend/web/common/src/redux/process/auth/WebAuth.spec.ts
  frontend/web/common/src/redux/process/auth/WebAuth.ts
  frontend/web/test/cypress/integration/scenarios/auth/Register/Steps.ts
  frontend/web/test/cypress/integration/scenarios/user/Profile/Steps.ts
  frontend/yarn.lock
Due: Main backend, Web frontend

update nw
  backend/main/src/app.module.ts
  backend/main/src/db/db.controller.ts
  backend/main/src/db/db.module.ts
Due: Main backend

registration tested
  backend/main/src/app.module.ts
  backend/main/src/cleaner/cleaner.controller.spec.ts
  backend/main/src/cleaner/cleaner.controller.ts
  backend/main/src/cleaner/cleaner.module.ts
  backend/main/src/cleaner/cleaner.service.spec.ts
  backend/main/src/cleaner/cleaner.service.ts
  backend/main/src/config/app.config.ts
  backend/main/src/config/validation.schema.ts
  common/.env
  common/test/scenarios/auth/Register.feature
  frontend/web/test/.env
  frontend/web/test/cypress/integration/scenarios/auth/Register/Steps.ts
Due: Main backend, Web frontend

fixed build
  frontend/web/admin/src/index.tsx
  frontend/web/landing/src/index.tsx
Due: Web frontend
