Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web frontend

.gitlab-ci.yml:

stages:
  - spawn

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml
  only:
    changes:
      - backend/main/**/*
      - common/**/*

Web frontend:
  stage: spawn
  trigger:
    include: frontend/web/.gitlab-ci.yml
  only:
    changes:
      - frontend/web/**/*
      - frontend/common/**/*
      - common/**/*

# This will probably go through AppCenter
# Native mobile frontend:
#   stage: spawn
#   trigger:
#     include: frontend/native-mobile/.gitlab-ci.yml
#   only:
#     changes:
#       - frontend/native-mobile/**/*
#       - frontend/common/**/*
#       - common/**/*

finished CRU operations on everything except media
  backend/main/test/training.e2e-spec.ts
Due: Main backend

created config.ts
  common/config.ts
Due: Main backend, Web frontend

rename
  common/config.ts
Due: Main backend, Web frontend

All CRU operations finished
  backend/main/src/media/media/media.resolver.spec.ts
  backend/main/src/media/media/media.resolver.ts
  backend/main/src/media/media/media.service.spec.ts
  backend/main/src/media/media/media.service.ts
  backend/main/test/media.e2e-spec.ts
  common/graphql/ts/interaction.ts
Due: Main backend, Web frontend

removeMediaFromTraining
  backend/main/src/training/training/training.resolver.spec.ts
  backend/main/src/training/training/training.resolver.ts
  backend/main/test/training.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

removeTrainingFromTrainingSet
  backend/main/src/training/training/training.resolver.spec.ts
  backend/main/src/training/training/training.resolver.ts
  backend/main/src/training/training/training.service.spec.ts
  backend/main/src/training/training/training.service.ts
  backend/main/test/training.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/ts/interaction.ts
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

finished backend
  backend/main/src/training/training-set/training-set.resolver.spec.ts
  backend/main/src/training/training-set/training-set.resolver.ts
  backend/main/src/training/training-set/training-set.service.spec.ts
  backend/main/src/training/training-set/training-set.service.ts
  backend/main/test/training-set.e2e-spec.ts
  common/graphql/ts/interaction.ts
Due: Main backend, Web frontend

refactor interaction. it's only for test
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/http.helper.ts
  backend/main/test/helpers/interaction.ts
  backend/main/test/media.e2e-spec.ts
  backend/main/test/training-set.e2e-spec.ts
  backend/main/test/training.e2e-spec.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/ts/interaction.ts
Due: Main backend, Web frontend

mail setup
  backend/main/package.json
  backend/main/src/app.module.ts
  backend/main/src/config/mail.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/mail/mail.module.ts
  backend/main/src/mail/markdown-compiler/markdown-compiler.service.ts
  backend/main/views/email/setup/base.hbs
  backend/main/views/email/templates/.gitkeep
  backend/main/yarn.lock
  common/config.ts
Due: Main backend, Web frontend

finished user email confirmation
  backend/main/package.json
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/auth/auth.service.spec.ts
  backend/main/src/auth/auth.service.ts
  backend/main/src/config/mail.config.ts
  backend/main/src/config/node.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/helpers/TimestampToDateTime.ts
  backend/main/src/mail/mail.module.ts
  backend/main/src/mail/markdown-compiler/markdown-compiler.service.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.spec.ts
  backend/main/src/seed/generator-orm/generator-orm.service.ts
  backend/main/src/test/proxy.mock.ts
  backend/main/src/test/training-set.tester.ts
  backend/main/src/test/training.tester.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/token/token.entity.ts
  backend/main/src/user/token/token.service.spec.ts
  backend/main/src/user/token/token.service.ts
  backend/main/src/user/user.entity.ts
  backend/main/src/user/user.module.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/interaction.ts
  backend/main/test/training-set.e2e-spec.ts
  backend/main/test/user.e2e-spec.ts
  backend/main/views/email/templates/.gitkeep
  backend/main/views/email/templates/user-confirm-email.md
  backend/main/yarn.lock
  common/graphql/schema/Schema.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

check username and email availability
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/auth-name.tester.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/src/user/user.service.spec.ts
  backend/main/src/user/user.service.ts
  backend/main/test/helpers/interaction.ts
  backend/main/test/user.e2e-spec.ts
  common/graphql/schema/Schema.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

password reset (something suspicious with deadlock is here)
  backend/main/src/app.module.ts
  backend/main/src/auth/auth.resolver.spec.ts
  backend/main/src/auth/auth.resolver.ts
  backend/main/src/config/node.config.ts
  backend/main/src/config/validation.schema.ts
  backend/main/src/helpers/TimestampToDateTime.ts
  backend/main/src/helpers/Verbosity.ts
  backend/main/src/mail/markdown-compiler/markdown-compiler.service.ts
  backend/main/src/migrations/migrations.service.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.spec.ts
  backend/main/src/seed/generator-graphql/generator-graphql.service.ts
  backend/main/src/test/user.tester.ts
  backend/main/src/user/token/token.service.spec.ts
  backend/main/src/user/token/token.service.ts
  backend/main/src/user/user.resolver.spec.ts
  backend/main/src/user/user.resolver.ts
  backend/main/test/auth.e2e-spec.ts
  backend/main/test/helpers/interaction.ts
  backend/main/test/training.e2e-spec.ts
  backend/main/test/user.e2e-spec.ts
  backend/main/views/email/templates/user-request-password-reset.md
  common/graphql/schema/Entity.graphql
  common/graphql/schema/Schema.graphql
  common/graphql/schema/User.graphql
  common/graphql/ts/types.ts
Due: Main backend, Web frontend

setup softlinks for web apps
  frontend/web/common/global
  frontend/web/common/shared
Due: Web frontend

update ci
  .gitlab-ci.yml
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/app/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

update ci
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/app/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

update ci
  frontend/web/.gitlab-ci.yml
Due: Web frontend

update ci
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/app/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

update build
  frontend/web/admin/tsconfig.json
  frontend/web/app/tsconfig.json
  frontend/web/landing/tsconfig.json
  frontend/web/tsconfig.json
Due: Web frontend

ci update
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/app/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

ci update
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/app/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

ci update
  frontend/web/.gitlab-ci.yml
  frontend/web/landing/.gitlab-ci.yml
Due: Web frontend

ci update
  frontend/web/.gitlab-ci.yml
Due: Web frontend

ci update
  .gitlab-ci.yml
Due: none

logo and favicons generator
  .gitignore
  backend/main/.gitlab-ci.yml
  common/.prettierrc
  common/config.ts
  common/theme/assets/logo-full.svg
  common/theme/theme.ts
  frontend/web/.gitlab-ci.yml
  package.json
  scripts/logo-calculate-paths.ts
  scripts/logo-favicon-generator.sh
  scripts/logo-favicon-injector.sh
  scripts/logo-generate-svg.ts
  scripts/package.json
  scripts/src/favicon/generator-info.json
  scripts/src/logo/B.ts
  scripts/src/logo/CalculatePaths.ts
  scripts/src/logo/Defs.ts
  scripts/src/logo/LogoGenerate.ts
  scripts/src/logo/O.ts
  scripts/src/logo/T.ts
  scripts/src/logo/Y.ts
  scripts/tsconfig.json
  scripts/yarn.lock
Due: Main backend, Web frontend

fix typo
  .gitlab-ci.yml
  scripts/package.json
Due: none

ci update
  backend/main/.gitlab-ci.yml
  frontend/web/.gitlab-ci.yml
Due: Main backend, Web frontend

ci update
  frontend/web/.gitlab-ci.yml
  scripts/logo-favicon-injector.sh
  scripts/src/favicon/generator-info.json
Due: Web frontend

ci update
  backend/main/.gitlab-ci.yml
  frontend/web/.gitlab-ci.yml
  scripts/logo-favicon-generator.sh
  scripts/logo-generator.sh
  scripts/package.json
Due: Main backend, Web frontend

ci update typo
  scripts/package.json
Due: none

ci update
  backend/main/.gitlab-ci.yml
Due: Main backend

gitignore update
  .gitignore
  backend/main/views/assets/generated/.gitkeep
Due: Main backend

update config links
  backend/main/src/config/theme
  common/theme/assets/logo-full.svg
Due: Main backend, Web frontend
