Repository zuffik/byot: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Main backend, Web app frontend, Landing frontend, Admin frontend

Main backend:
  stage: spawn
  trigger:
    include: backend/main/.gitlab-ci.yml

Web app frontend:
  stage: spawn
  trigger:
    include: frontend/web/app/.gitlab-ci.yml

Landing frontend:
  stage: spawn
  trigger:
    include: frontend/web/landing/.gitlab-ci.yml

Admin frontend:
  stage: spawn
  trigger:
    include: frontend/web/admin/.gitlab-ci.yml

update artifacts
  backend/main/.gitlab-ci.yml
Due: Main backend

redux
  frontend/.prettierrc
  frontend/common/.gitkeep
  frontend/common/package.json
  frontend/common/src/redux/data-structures/resources/EntityResource.ts
  frontend/common/src/redux/data-structures/resources/IterableResource.ts
  frontend/common/src/redux/data-structures/resources/Resource.ts
  frontend/common/src/redux/data-structures/responses/DataResponse.ts
  frontend/common/src/redux/data-structures/responses/GraphQLResponse.ts
  frontend/common/src/redux/process/BindProcessActionCreator.ts
  frontend/common/src/redux/process/ProcessActionCreator.ts
  frontend/common/src/redux/process/ProcessActionExtractor.ts
  frontend/common/src/redux/process/ProcessActions.ts
  frontend/common/src/redux/saga/AsyncSaga.ts
  frontend/common/src/redux/saga/wrappers/GraphQLSagaWrapper.ts
  frontend/common/src/redux/saga/wrappers/SagaWrapper.ts
  frontend/common/src/redux/store/Actions.ts
  frontend/common/src/redux/store/Reducer.ts
  frontend/common/src/redux/store/Store.ts
  frontend/common/src/shared
  frontend/common/tsconfig.json
  frontend/package.json
  frontend/web/common/package.json
  frontend/web/common/shared
  frontend/yarn.lock
  package.json
Due: Web app frontend, Landing frontend, Admin frontend

material-ui
  frontend/web/common/.env
  frontend/web/common/package.json
  frontend/web/common/src/CreateTheme.ts
  frontend/web/common/tsconfig.json
  frontend/web/package.json
  frontend/web/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

i18next
  frontend/common/package.json
  frontend/common/src/i18n/CreateI18n.ts
  frontend/common/src/i18n/Possibilities.ts
  frontend/common/src/i18n/providers/CurrentLanguageProvider.ts
  frontend/common/src/i18n/providers/FixedLanguageProvider.ts
  frontend/common/src/i18n/providers/UrlLanguageProvider.ts
  frontend/common/src/i18n/resources/cs.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

apollo graphql
  frontend/common/package.json
  frontend/common/src/graphql/CreateApolloClient.ts
  frontend/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

dotenv
  frontend/common/.env
  frontend/common/package.json
  frontend/common/src/env/ParseCommonEnvFiles.js
  frontend/web/admin/config-overrides.js
  frontend/web/admin/package.json
  frontend/web/app/config-overrides.js
  frontend/web/app/package.json
  frontend/web/common/overrides/ConfigOverrides.js
  frontend/web/common/overrides/LoadCommonEnvFiles.js
  frontend/web/common/package.json
  frontend/web/landing/config-overrides.js
  frontend/web/landing/package.json
  frontend/web/tsconfig.json
  frontend/web/yarn.lock
  frontend/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

minimal frontend setup
  frontend/common/.env
  frontend/common/src/redux/FrontendCommonState.ts
  frontend/web/admin/public/index.html
  frontend/web/admin/src/App.css
  frontend/web/admin/src/App.test.tsx
  frontend/web/admin/src/App.tsx
  frontend/web/admin/src/components/layout/BaseRouterLayout.tsx
  frontend/web/admin/src/index.css
  frontend/web/admin/src/index.tsx
  frontend/web/admin/src/logo.svg
  frontend/web/admin/src/redux/WebAdminState.ts
  frontend/web/admin/src/router/Router.ts
  frontend/web/admin/src/setup.ts
  frontend/web/app/public/index.html
  frontend/web/app/src/App.css
  frontend/web/app/src/App.test.tsx
  frontend/web/app/src/App.tsx
  frontend/web/app/src/components/layout/BaseRouterLayout.tsx
  frontend/web/app/src/index.css
  frontend/web/app/src/index.tsx
  frontend/web/app/src/logo.svg
  frontend/web/app/src/redux/WebAppState.ts
  frontend/web/app/src/router/Router.ts
  frontend/web/app/src/setup.ts
  frontend/web/common/.env
  frontend/web/common/package.json
  frontend/web/common/src/redux/WebState.ts
  frontend/web/landing/public/index.html
  frontend/web/landing/src/App.css
  frontend/web/landing/src/App.test.tsx
  frontend/web/landing/src/App.tsx
  frontend/web/landing/src/components/layout/BaseRouterLayout.tsx
  frontend/web/landing/src/index.css
  frontend/web/landing/src/index.tsx
  frontend/web/landing/src/logo.svg
  frontend/web/landing/src/redux/LandingPageState.ts
  frontend/web/landing/src/router/Router.ts
  frontend/web/landing/src/setup.ts
  frontend/web/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

minimal tests
  frontend/web/admin/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/admin/src/setupTests.ts
  frontend/web/app/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/app/src/setupTests.ts
  frontend/web/common/package.json
  frontend/web/common/src/SetupTests.ts
  frontend/web/landing/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/landing/src/setupTests.ts
  frontend/web/tsconfig.json
  frontend/web/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

elementary elements
  .nvmrc
  frontend/common/package.json
  frontend/common/src/i18n/CreateI18n.ts
  frontend/common/src/i18n/Possibilities.ts
  frontend/common/src/i18n/resources/en.ts
  frontend/common/src/i18n/resources/sk.ts
  frontend/web/admin/src/setup.ts
  frontend/web/admin/src/setupTests.ts
  frontend/web/admin/tsconfig.json
  frontend/web/app/src/setup.ts
  frontend/web/app/src/setupTests.ts
  frontend/web/app/tsconfig.json
  frontend/web/common/config-overrides.js
  frontend/web/common/package.json
  frontend/web/common/src/components/auth/LoginForm.tsx
  frontend/web/common/src/components/auth/PlainLayout.tsx
  frontend/web/common/src/components/elementary/Logo.tsx
  frontend/web/common/src/components/elementary/form/Button.spec.tsx
  frontend/web/common/src/components/elementary/form/Button.tsx
  frontend/web/common/src/components/elementary/form/InputBase.tsx
  frontend/web/common/src/components/elementary/form/__snapshots__/Button.spec.tsx.snap
  frontend/web/common/src/react-app-env.d.ts
  frontend/web/common/src/setup/CreateTheme.ts
  frontend/web/common/src/setup/SetupTests.ts
  frontend/web/common/src/setupTests.ts
  frontend/web/common/src/test/CreateShallow.tsx
  frontend/web/common/src/types/CombineClasses.ts
  frontend/web/common/src/types/WithStyles.ts
  frontend/web/landing/src/setup.ts
  frontend/web/landing/src/setupTests.ts
  frontend/web/landing/tsconfig.json
  frontend/web/storybook/.storybook/main.js
  frontend/web/storybook/.storybook/preview.js
  frontend/web/storybook/package.json
  frontend/web/storybook/stories/elementary/Button.stories.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
  frontend/web/storybook/tsconfig.json
  frontend/web/tsconfig.json
  frontend/web/yarn.lock
  frontend/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

login form
  .gitignore
  frontend/common/package.json
  frontend/web/common/package.json
  frontend/web/common/src/components/auth/LoginForm.spec.tsx
  frontend/web/common/src/components/auth/LoginForm.tsx
  frontend/web/common/src/components/auth/LoginFormFooter.tsx
  frontend/web/common/src/components/elementary/form/Button.spec.tsx
  frontend/web/common/src/components/elementary/form/Button.tsx
  frontend/web/common/src/components/elementary/form/Input.tsx
  frontend/web/common/src/components/elementary/form/InputBase.tsx
  frontend/web/common/src/components/elementary/form/Select.tsx
  frontend/web/common/src/components/elementary/form/__snapshots__/Button.spec.tsx.snap
  frontend/web/common/src/router/Router.ts
  frontend/web/common/src/setup/SetupTests.ts
  frontend/web/common/src/test/CreateShallow.tsx
  frontend/web/storybook/.storybook/preview.js
  frontend/web/storybook/package.json
  frontend/web/storybook/stories/elementary/Form.stories.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
  frontend/web/storybook/stories/user/Partials.stories.tsx
  frontend/web/yarn.lock
  frontend/yarn.lock
Due: Web app frontend, Landing frontend, Admin frontend

ci update
  frontend/web/.gitlab-ci.yml
Due: none

ci update
  .gitignore
  frontend/web/.gitlab-ci.yml
  frontend/web/storybook/package.json
  frontend/web/yarn.lock
Due: none

ci update
  .gitlab-ci.yml
  frontend/common/src/i18n/CreateI18n.ts
  frontend/package.json
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/.gitlab-ci.yml
  frontend/web/admin/src/setup.ts
  frontend/web/app/.gitlab-ci.yml
  frontend/web/app/src/setup.ts
  frontend/web/app/tsconfig.json
  frontend/web/common/overrides/ConfigOverrides.js
  frontend/web/common/package.json
  frontend/web/landing/.gitlab-ci.yml
  frontend/web/landing/src/setup.ts
  frontend/web/package.json
  frontend/web/yarn.lock
  frontend/yarn.lock
  scripts/logo-favicon-generator.sh
  scripts/logo-favicon-injector.sh
Due: Main backend, Web app frontend, Landing frontend, Admin frontend

ci update Sun May 17 20:32:38 CEST 2020
  frontend/web/.gitlab-ci.yml
Due: none

Sun May 17 20:35:03 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
Due: none

Sun May 17 20:36:53 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
Due: none

Sun May 17 20:40:14 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
Due: none

Sun May 17 20:48:16 CEST 2020 ci update
  scripts/logo-favicon-generator.sh
  scripts/logo-generate-svg.ts
  scripts/logo-generator.sh
Due: Main backend, Web app frontend, Landing frontend, Admin frontend

Sun May 17 21:53:07 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/package.json
  frontend/web/app/package.json
  frontend/web/common/package.json
  frontend/web/landing/package.json
Due: Web app frontend, Landing frontend, Admin frontend

Sun May 17 21:54:40 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
Due: none

Sun May 17 22:10:18 CEST 2020 ci update
  backend/main/.gitlab-ci.yml
  frontend/web/.gitlab-ci.yml
Due: Main backend

Sun May 17 22:18:08 CEST 2020 ci update
  frontend/web/.gitlab-ci.yml
  frontend/web/storybook/package.json
Due: none

update ci
  .gitignore
  backend/main/.gitlab-ci.yml
  frontend/common/src/test/MockESModule.ts
  frontend/web/.gitlab-ci.yml
  frontend/web/admin/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/admin/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
  frontend/web/app/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/app/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
  frontend/web/common/src/components/auth/__snapshots__/LoginForm.spec.tsx.snap
  frontend/web/common/src/components/elementary/form/__snapshots__/Button.spec.tsx.snap
  frontend/web/landing/src/components/layout/BaseRouterLayout.spec.tsx
  frontend/web/landing/src/components/layout/__snapshots__/BaseRouterLayout.spec.tsx.snap
  frontend/web/storybook/.loki/.gitignore
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Button_Button.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Checkbox.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Input.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Radio.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Form_Select.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Misc_Logo.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Typography_Headings.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_Elementary_Typography_Typography.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Login_Form.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Partials_Login_Form_Footer.png
  frontend/web/storybook/.loki/reference/chrome_iphone7_User_Auth_Plain_Layout.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Button_Button.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Checkbox.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Input.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Radio.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Form_Select.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Misc_Logo.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Typography_Headings.png
  frontend/web/storybook/.loki/reference/chrome_laptop_Elementary_Typography_Typography.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Login_Form.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Partials_Login_Form_Footer.png
  frontend/web/storybook/.loki/reference/chrome_laptop_User_Auth_Plain_Layout.png
  frontend/web/storybook/package.json
Due: Main backend, Web app frontend, Landing frontend, Admin frontend

update ci
  backend/main/.gitlab-ci.yml
  frontend/web/storybook/package.json
Due: Main backend

update ci
  frontend/common/src/test/MockESModule.ts
  frontend/web/storybook/package.json
Due: Web app frontend, Landing frontend, Admin frontend

update ci
  frontend/web/.gitlab-ci.yml
  frontend/web/app/src/components/auth/LoginFormFooter.tsx
  frontend/web/storybook/stories/user/Auth.stories.tsx
Due: Web app frontend

Path conditions:
  Main backend: any of: backend/main/**/*, common/**/*, scripts/**/*
  Web app frontend: any of: frontend/web/app/**/*, frontend/web/common/**/*, frontend/.gitlab-ci.yml, frontend/common/**/*, common/**/*, scripts/**/*
  Landing frontend: any of: frontend/web/landing/**/*, frontend/web/common/**/*, frontend/.gitlab-ci.yml, frontend/common/**/*, common/**/*, scripts/**/*
  Admin frontend: any of: frontend/web/admin/**/*, frontend/web/common/**/*, frontend/.gitlab-ci.yml, frontend/common/**/*, common/**/*, scripts/**/*
